@import './css-var.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  font-size: 14px;
  padding: 0;
  background-color: theme(colors.slate.50);
  font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', sans-serif;

  --theme-color: theme("colors.blue.500");
  --theme-hover-color: theme('colors.always.sky.400');
  --theme-active-color: theme('colors.always.sky.500');
  --theme-suppl-color: theme('colors.always.sky.600')
}

body {
  min-height: 100vh;

  @apply overflow-hidden;
}

a {
  @apply text-accent;
  text-decoration: none;
}

a:hover {
  @apply opacity-80;
}

button:focus,
button {
  outline: unset;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;

  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-corner {
  background: theme(colors.white)
}

.n-scrollbar-rail {
  @apply z-[100];
}

.n-message {
  @apply !rounded-full;
}

.n-notification-main-footer {
  @apply !block;
}

@layer components {
  .modal-card {
    @apply !max-w-[90vw] !w-[60rem];

    &.sm {
      @apply !w-[40rem];
    }

    &.xs {
      @apply !w-[30rem];
    }
  }
}
